<div class="container-fluid">
  <div class="row">
    <h2>Movie Detail</h2>
    <p>Movie Title: <%= @movie.name %></p>
    <p>Year Released: <%= @movie.year %></p>
    <p>Categories:</p>
    <% if @movie.categories.length == 0 %>
      <li>No categories</li>
    <% else %>
      <ul>
        <% @movie.categories.each do |category|%>
          <li><%= category.name %>
              <span class="glyphicon glyphicon-remove-circle"></span> 
              <a href="/movies/<%= @movie.id %>/categories/<%= category.id %>" 
              data-confirm="You sure?" data-method="delete" rel="nofollow">Remove</a></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<br>
  <div class="row">
    <h4>Add a category</h4>
      <form action="/movies/<%= @movie.id %>/categories" method="post">
        <select name="category">
          <% @categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
        <button>Add</button>
      </form>
  </div>
  <br>
  <div class="row">
    <%= render('/layouts/errors', :object => @movie) %>
  </div>

  <div class="row">
    <h4>Update Movie Details</h4>
    <form action="/movies/<%= @movie.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
        <%= render('/layouts/form', :object => @categories) %>
      <button class="btn btn-primary">Update</button>
    </form>
  </div>
  
</div>
