<div class="container-fluid">
  <div class="row">
    <h2>Movie Detail</h2>
    <p>Movie Title: <%= @movie.name %></p>
    <p>Year Released: <%= @movie.year %></p>
  </div>

  <div class="row">
    <%= render('/layouts/errors', :object => @movie) %>
  </div>

  <div class="row">
    <h4>Update Movie Details</h4>
    <form action="/movies/<%= @movie.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
        <%= render('/layouts/form', :object => @categories) %>
      <button class="btn btn-primary">Update</button>
    </form>
  </div>

</div>
