<div class="container-fluid">
  <div class=row>
    <h2>Movie Database</h2>
    <ul>
      <% @movies.each do |movie| %>
        <li><a href="/movies/<%= movie.id %>"><%= movie.name %> (<%= movie.year %>)</a></li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <%= render('/layouts/errors', :object => @movie) %>
  </div>

  <div class="row">
    <h3>Add a Movie</h3>
    <form action="/movies" method="post">
      <%= render('/layouts/form', :object => @categories) %>
    <button class="btn btn-success">Add Movie</button>
    </form>
  </div>

  <div class="row">
    <a href="/categories/"><button id="category_btn" class="btn btn-info">Category Management</button></a>
  </div>

</div>
