<h1>Movie Database</h1>

<ul>
  <% @movies.each do |movie| %>
    <li><a href="/movies/<%= movie.id %>"><%= movie.name %> (<%= movie.year %>)</a></li>
  <% end %>
</ul>

<% if @movie.errors.any? %>
  <ul>
    <%= @movie.errors.full_messages.each do |message| %>
      <li><% message %></li>
    <% end %>
  </ul>
<% end %>

<h2>Enter a Movie</h2>
<form action="/movies" method="post">
  <label for="movies_name">Movie Name</label>
  <input id="movies_name" name="movie[name]" type="text" value="<%= @movie.name %>">
  <label for="movies_year">Year Released</label>
  <input id="movies_year" name="movie[year]" type="text" value="<%= @movie.year %>">
<button>Add Movie</button>
</form>
